#header {
  text-align: center;
  font-family: Verdana;

  margin: 15px;
}

#content,#menu,#mensagem {
  background: #0000;
}

#content {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

#wall {
  white-space: normal;
  overflow-x: scroll;

  background-color: #ff00;
}

.item {
  margin: 5px;
}

.clene, .cleneup {
  width: 30%;
  height: 28%;
  border: 1px solid black;
  padding: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
}

.imgClene {
  width: 100%;
  height: 80%;
}

.nomeClene {
  /**/
}

.uploadForm {
  /*height: 20px;
  width: 30%;*/
  /*padding: 20px;*/
}
